<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>ToyRobotSimulator</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div summary="Heading and notices">
      <h1>Robot Controller</h1>
      <%= render partial: "layouts/notice_and_errors" %>
    </div>
    <%= yield %>
  </body>
</html>
